:root{
    --white: #F4F9F9; 
    --brick: #DD4A48;
    --yellow:#FFBD35;
    --mint:#A4EBF3;
    --purple:#8267BE;
}

*{
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    padding:0;
    background-color:var(--white);
}

main{
    display: flex;
    flex-direction: column;
}

.promedio{
    padding:14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:transparnt solid 1px;
    margin-bottom:32px;
    border-radius:10px;
}

.section-ponderado{
    background-color:var(--purple);
}

.promedio h2{
    margin-bottom:12px;
    width:70%
}

.promedio form{
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.promedio label{
    margin:16px 0;
    width:90%;

}

.promedio input{
    margin-bottom:16px;
}

.promedio .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promedio .buttons button{
    width:100%;
    cursor:pointer;
    margin:8px;
}

#rta-ponderado {
    font-weight: bolder;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    /* border: 1px solid red; */
}

footer li{
    list-style: none;
    margin:8px;
    font-weight: bold;
}

footer a{
    color:var(--brick);
    text-decoration: none;
}

footer a:hover{
    color:var(--yellow);
    text-decoration: underline;
}